<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2023-01--record</title>
    <link rel="stylesheet" href="{{url_for('static', filename='assets/record/record.css')}}">
    <script>
        var img_data = "{{imgs}}";
        console.log(img_data);
    </script>

</head>
<body>
    <div class="container">
        <nav>
            <button type="button" class="show-upload-container">UPLOAD NEW PHOTO</button>
        </nav>

        <div class="upload-photo">
            <input type="file" id="image-file" accept="image/jpg, image/png">
            <div class="check">
                <button type="button" id="submit-photo">submit</button>
                <button type="button" id="cancel">cancel</button>    
            </div>
            <div id="display-image"><img src="{{url_for('static', filename='photo/background-img/kitty.png')}}" alt="image" id="image"></div>
        </div>

        <div class="photo-place">

        </div>


    </div>

</body> 
    <script src="{{url_for('static', filename='js/record.js')}}"></script>
</html>